In [1]:
import pandas as pd
from pycaret.classification import *

In [2]:
data = pd.read_csv('penguins.csv')
data

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
3,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
4,Adelie,Torgersen,39.3,20.6,190,3650,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214,4925,FEMALE
329,Gentoo,Biscoe,46.8,14.3,215,4850,FEMALE
330,Gentoo,Biscoe,50.4,15.7,222,5750,MALE
331,Gentoo,Biscoe,45.2,14.8,212,5200,FEMALE
332,Gentoo,Biscoe,49.9,16.1,213,5400,MALE

In [3]:
data.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        333.000000       333.000000         333.000000   333.000000
mean          43.992793        17.164865         200.966967  4207.057057
std            5.468668         1.969235          14.015765   805.215802
min           32.100000        13.100000         172.000000  2700.000000
25%           39.500000        15.600000         190.000000  3550.000000
50%           44.500000        17.300000         197.000000  4050.000000
75%           48.600000        18.700000         213.000000  4775.000000
max           59.600000        21.500000         231.000000  6300.000000

In [5]:
s = setup(data, target = 'species', session_id = 123)

In [6]:
best = compare_models()

In [9]:
new_data = pd.DataFrame({'island': ['Biscoe'],
                         'culmen_length_mm': [50.5],
                         'culmen_depth_mm': [15.1],
                         'flipper_length_mm': [210],
                         'body_mass_g': [5000],
                         'sex': ['MALE']
                        })
new_data

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Biscoe,50.5,15.1,210,5000,MALE

In [10]:
new_pred = predict_model(best, data=new_data)
new_pred

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,prediction_label,prediction_score
0,Biscoe,50.5,15.1,210,5000,MALE,Gentoo,0.98

In [11]:
new_pred.at[0, 'prediction_label']

'Gentoo'

In [12]:
save_model(best, 'penguins-best')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('label_encoding',
                  TransformerWrapperWithInverse(exclude=None, include=None,
                                                transformer=LabelEncoder())),
                 ('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['culmen_length_mm',
                                              'culmen_depth_mm',
                                              'flipper_length_mm',
                                              'body_mass_g'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=N...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight=None, criterion='gini',
                                         max_depth=None, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         n_estimators=100, n_jobs=-1,
                                         oob_score=False, random_state=123,
                                         verbose=0, warm_start=False))],
          verbose=False),
 'penguins-best.pkl')